// Write your overrides
.error-message {
	color: #fe6060;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}

.dp__input {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	border-radius: 6px !important;
}
